
.container-boxed {
  position: relative;
  padding: 20px 30px;
  background-color: white;
  color: $main-color;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  transition: 1s;

  .message {
    margin: 4px 0 0;
    color: lightgrey;
    font-size: font-size-base;
    a {
      color: darken($main-color,25%);
      text-decoration: none;
    }
  }
}
