@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: $body-bg; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, $body-bg, darken($body-bg, 10%));
  background: -moz-linear-gradient(right, $body-bg, darken($body-bg, 10%));
  background: -o-linear-gradient(right, $body-bg, darken($body-bg, 10%));
  background: linear-gradient(to left, $body-bg, darken($body-bg, 10%));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
