.profile-header {
  position: relative;
  top: -22px;
  display: block;
  max-width: 1900px;
  margin: auto;
  color: black;
  .navigation{
    background: whitesmoke;
    width: 100%;
    .container{
      position: relative;
    }
    .btn-edit-profile{
      margin-top: 2px;
    }
    .user-name-info{
      position: relative;
      left: 220px;
      display: block;
      float: left;
      .full-name{
        display: block;
        font-size: 18px;
        line-height: 22px;
        margin: 0;
      }
      .username{
        display: block;
        font-size: 14px;
        color: grey;
        line-height: 18px;
        margin: 0;
      }
    }
  }
  .follow-container{
    position: absolute;
    right: 0;
    top: 45%;
    > a {
      display: block;
      margin-bottom: 20px;
      padding:10px 12px;
      background: fade-out($main-color, 0.4);
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      color: $main-highlight-color;
    }
  }
  .cover-photo{
    width: 100%;
  }
}
.header-container {
  position: relative;
  background: transparent;
  padding:0px 15px;

  .profile-pic {
    position: relative;
    width: 200px;
    height: 200px;
    top: -142px;
    left: 0;
    border-radius: 50%;
    border: 4px solid whitesmoke;
  }

}

@media (max-width: 768px){
  .profile-header{
    .profile-pic{
      width: 150px;
      height: 150px;
      top: -77px;
    }
    .user-name-info{
      left: 170px;
    }
  }
}
@media (max-width: 414px){
  .profile-header{
    .profile-pic{
      width: 80px;
      height: 80px;
      top: -72px;
    }
    .user-name-info{
      left: 100px;
    }
    .cover-photo{
    }
  }
}
