p.inblocker{
  display: inline-block;
  font-style: italic;
  font-weight: lighter;
}

.wrap {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.panel-heading{
  background-color: $main-color;
  color:white;
}


  button#delbtn:hover{
    background-color: red;
    color:white;
    font-weight: bold;
  }
button#savebtn:hover{
  background-color: lightgreen;
  color:white;
  font-weight: bold;
}

#triangleup{
  width: 100%;
  height: 0;
  border-left: 550px solid transparent;
  border-right: 550px solid transparent;
  border-bottom: 2px solid red;
}



///modal alignment helper ////
.modal {
}
.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
}
.modal-header{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: $main-color;
  color: white;
}


/////// end //////

///////// Test Code ////
label{
  font-style: italic;

}