.panel-body{
  padding: 0px;
}
.panel{
  margin-bottom: 0px;
}
.panel-group{
  margin-top: 0px;
}
.table
{
  margin-bottom: 0px;}
.cent {
  text-align: center;

}
.right{
  text-align: right;

}
.bt-control{
  margin-top: 20px;
}

