.form-control {
  font-size: 16px;
  height: 40px;
  background-color: $main-highlight-color;
  transition: 0.7s;
  &:focus{
    border: 1px solid $main-color;
    box-shadow: 0px 0px 10px fade-out($main-color, 0.7);
    background-color: white;
  }
}
.input-group{
  > .input-group-btn{
    > .btn {
      font-size: 16px;
      height: 40px;
    }
  }
  > .input-group-addon{
    font-size: 16px;
    height: 40px;
  }
  &.input-group-sm{
    > .input-group-btn > .btn {
      height: 30px;
      font-size: 12px;
    }
    > .input-group-addon{
      height: 30px;
      font-size: 12px;
    }
  }
}
