/*
  Bootstrap Navbar Overrides
*/
.container .navbar-header{
  margin-right: 0px;
}
.navbar{
  color: $main-highlight-color;
  box-shadow: 0px 2px 8px fade-out($main-color, 0.3);
  &.navbar-default{
    background-color: $main-color;
    border: none;
    .navbar-brand{
      color: $main-highlight-color;
    }
    .navbar-toggle{
      border-radius: 0;
      border: none;
      font-size: $navbar-font-size;
      line-height: $navbar-text-line-height;
      padding: $navbar-links-padding;
      color: $main-highlight-color;
      &:hover, &:focus {
        color: white;
      }
    }
    .navbar-nav{
      float: left;
      margin: 0;
      > li{
        float: left;
        > a{
          line-height: $navbar-text-line-height;
          font-size: $navbar-font-size;
          padding: $navbar-links-padding;
          color: $main-highlight-color;
          text-transform: capitalize;
          i, img {
            margin-right: 5px;
          }
          &.has-badge{
            color: $main-highlight-color;
            > span {
              position: relative;
            }
            .badge{
              position: absolute;
              bottom: -70%;
              right: -70%;
              min-width: 20px;
              border-radius: 4px;
              padding: 3px;
              line-height: 14px;
              font-size: 12px;
              font-weight: bold;
              background: $badge-notif-color;
              color: white;
            }
          }
        }
        &:hover, &:focus, &.open{
          > a{
            color: white;
            background-color: transparent;
            .badge{
              background-color: darken($badge-notif-color, 15%);
            }
          }
        }
      }
    }
  }
  .navbar-toggle{
    margin: 0px 8px 0px 0px;
    padding: 15px;
  }
}
#profile-navs{
  > li {
    > a {
      padding: $navbar-links-padding 5px;
    }
  }
}
.navbar-form{
  border: none;
  margin: 0px;
  padding: ($navbar-height - 30px)/2;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}
.navbar-right .dropdown-menu{
  right: 0;
  left: auto;
}

@media (max-width: 479px){
  #profile-navs{
    display: none;
  }
}
@media (max-width: 413px){
  .navbar-nav{
    clear: both;
  }
}
@media (min-width: 414px){
  .navbar-right {
      float: right !important;
      margin-right: -15px;
  }
  .navbar-header{
    float: left;
    margin-right: 10px;
  }
}

@media (max-width: 767px){
  .navbar-collapse{
    clear: both;
  }
}
